header {
  height: 400px;
  width: 100%;
  padding-top: 120px;
  background-color: #f8cc51;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}