header {
  height: 400px;
  width: 100%;
  padding-top: 120px;
  background-color: #f8cc51;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  font-size: 1.2em;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div img {
  width: 175px;
  height: 175px;
}